
/* GENERAL STYLES */
body {
  background-color: #303030;
  color: #FFFFFF;
}

/* CURRENCY EXCHANGER STYLES */
legend {
  margin: auto 15%;
}

img {
  float: left;
  margin-top: 50px;
  margin-left: 50px;
}

.converter {
  background-color: #424242;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  display: flex;
  margin-top: 20%;
  box-shadow: 0 0 15px 10px rgba(0,0,0,0.06);
}

.user-input {
  margin: 8px;
}

select {
  background-color: #424242;
  border-radius: 10px;
  border: solid rgb(198, 195, 195);
  color: #FFFFFF;
  margin: auto 5px;
  width: 170px;
  height: 30px;
}

input {
  width: 170px;
  background-color: #424242;
  border-radius: 10px;
  border: solid rgb(198, 195, 195);
  color: #FFFFFF;
}

label {
  display: inline-block;
  width: 150px;
  text-align: right;
}

#target-amount {
  font-weight: bold;
}

#results {
  margin-top: 20px;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 770px) {
  img {
    display: none;
  }

  .user-input {
    width: 485px;
  }

  .button {
    float: center;
    width: 380px;
  }


  #results {
    position: absolute;
    bottom: 1;
    margin-top: 200px;
  }

}